
.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
    padding: 2px;
    border: 1px solid black;
}

.paginator {
    margin: 10px;
}


.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}
